.side-bar {
  display: flex;
  width: 180px;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid #eee;
  font-size: 28px;

  ul {
    width: 100%;
  }

  li {
    box-sizing: border-box;
    padding: 40px 30px;
  }
  .active {
    background-color: #e54d42;
    color: #fff;
  }
}