.content {
  display: flex;
  height: 100vh;
  padding: 98px 0;
  box-sizing: border-box;

  .wrapper {
    flex: 1;
    height: 100%;
    overflow: scroll;
  }

  .container {
    padding-top: 10px;

    .item {
      float: left;
      width: 160px;
      height: 160px;
      margin-left: 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      text-align: center;

      .img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        padding: 12px 0 8px;
      }
      p {
        width: 120px;
        font-size: 24px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 auto;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}