.card-list {
  width: 100%;
  font-size: 32px;
  padding-top: 118px;
  padding-bottom: 98px;

  .card {
    width: 690px;
    margin: 0 auto 20px;
    padding: 28px 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    box-sizing: border-box;

    .title {
      width: 100%;
      font-size: 36px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .sub-title {
      width: 100%;
      margin: 12px 0 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .cover {
      display: block;
      width: 650px;
      height: 260px;
      object-fit: cover;
      margin: 0 auto;
    }

    .cover-data {
      display: flex;
      height: 80px;

      .data {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #999;
      }

      .icon {
        width: 28px;
        margin-right: 8px;
      }
    }
  }
}