@import "../../style/base.scss";

.top-nav-bar-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bgColor;
  
  .top-nav-bar-page-content {
    flex: 1;
    padding-top: 98px;
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
  }
}