.my {
  width: 100%;
  height: 100vh;
  background-color: #f4f5f9;

  .user-info {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 30px;

    .avatar-wrapper {
      width: 120px;
      height: 120px;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .list-wrapper {
    margin-top: 20px;
    background-color: #fff;
    padding-left: 30px;

    li {
      font-size: 28px;
      border-bottom: 1px solid #eee;
      line-height: 80px;
    }
    li:last-child {
      border-bottom: none;
    }
  }
}